* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    min-height: 100%;
    background-color: #212121;
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    color: #FFFFFF;
}

#main button{
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    margin-bottom: 4rem;
}

nav button {
    padding: 0.6rem 1rem;
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 0.3rem;
    background: linear-gradient(145deg, #bfbfc3, #65656A);
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.3), 0 3px 6px rgba(0,0,0,0.3);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

nav button:hover {
    background: linear-gradient(145deg, #9a9a9f, #65656A);
    color: #000;
}

nav span{
    color: red;
}

#hero{
    padding: 0 3rem;
    margin-bottom: 7rem;
}

#hero-top{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

#hero-top h2{
    margin-bottom: 0.8rem;
    color: red;
}

#hero-top h4{
    font-weight: 100;
}

#hero-center{
    padding: 3rem 0;
    margin-bottom: 2rem;
}

#hero-center h1{
    font-size: 6rem;
}

#hero-center h3{
    font-size: 1.5rem;
    font-weight: 100;
}

#hero-bottom img{
    height: 2rem;
    background-color: #FFFFFF;
    padding: 0.3rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#hero-bottom p{
    width: 35%;
    font-size: 1.2rem;
}

#hero-right img{
    height: 80%;
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    background-color: black;
}

#about{
    padding: 3rem;
}

#about-top{
    margin-bottom: 4rem;
}

#about-top h5{
    font-weight: 400;
    margin-bottom: 1rem;
}

#about-top p{
    font-size: 4rem;
    width: 70%;
}

#about-top span{
    color: #757575;
}

#about-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 3rem;
}

.element{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 20%;
    border-left: 1px solid white;
    padding: 1rem 1rem 0;
}

.elem-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem-nav h5{
    font-size: 1.1rem;
    font-weight: 600;
}

.elem-name h5{
    margin-bottom: 1rem;
    font-weight: 400;
}

.box{
    display: flex;
    flex-direction: column;
}

.box-top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #292929;
}

.box-bottom{
    position: relative;
    background-color: #FFFFFF;
    padding: 3rem;
}

.bar1{
    position: absolute;
    width: 90%;
    background-color: #F46F31;
    height: 100%;
    top: 0;
    left: 0;
}

.bar1{
    background-color: #F46F31;
}

.bar1,.bar2,.bar3,.bar4{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.bar2{
    width: 75%;
    background-color: #696969;
}

.bar3{
    width: 90%;
    background-color: #696969;
}

.bar4{
    width: 85%;
    background-color: #696969;
}