* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    min-height: 100%;
    background-color: #111111;
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    color: #FFFFFF;
}

#main button{
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    margin-bottom: 1.5rem;
}

nav button {
    padding: 0.6rem 1rem;
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 0.3rem;
    background: linear-gradient(145deg, #bfbfc3, #65656A);
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.3), 0 3px 6px rgba(0,0,0,0.3);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

nav button:hover {
    background: linear-gradient(145deg, #9a9a9f, #65656A);
    color: #000;
}

nav span{
    color: red;
}

#hero{
    padding: 3rem;
    margin-bottom: 2rem;
}

#hero-top{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

#hero-top h2{
    margin-bottom: 0.8rem;
    color: red;
}

#hero-top h4{
    font-weight: 100;
}

#hero-center{
    padding: 3rem 0;
    margin-bottom: 2rem;
}

#hero-center h1{
    font-size: 6rem;
}

#hero-center h3{
    font-size: 1.5rem;
    font-weight: 100;
}

#hero-bottom img{
    height: 2rem;
    background-color: #FFFFFF;
    padding: 0.3rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#hero-bottom p{
    width: 35%;
    font-size: 1.2rem;
}

#hero-right img{
    height: 80%;
    position: absolute;
    right: 10rem;
    bottom: 2rem;
    background-color: black;
}

#about{
    padding: 3rem 3rem 2rem;
}

#about-top{
    margin-bottom: 4rem;
}

#about-top h5{
    font-weight: 400;
    margin-bottom: 1rem;
}

#about-top p{
    font-size: 4rem;
    width: 70%;
}

#about-top span{
    color: #757575;
}

#about-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 3rem;
}

.element{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 20%;
    border-left: 1px solid white;
    padding: 1rem 1rem 0;
}

.elem-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem-nav h5{
    font-size: 1.1rem;
    font-weight: 600;
}

.elem-name h5{
    margin-bottom: 1rem;
    font-weight: 400;
}

.box{
    display: flex;
    flex-direction: column;
}

.box-top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #292929;
}

.box-bottom{
    position: relative;
    background-color: #FFFFFF;
    padding: 3rem;
}


.bar1, .bar2, .bar3, .bar4{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.bar1{
    width: 90%;
    background-color: #F46F31;
    background: repeating-linear-gradient(
    135deg,                
    #F46F31,                
    #F46F31 3px,           
    #ff864e 3px,           
    #ff864e 7px            
  );
}

.bar2, .bar3, .bar4{
    background-color: #696969;
    background: repeating-linear-gradient(135deg, #696969,#696969 3px, #808080 3px, #808080 7px);
}

.bar2{
    width: 75%;
    
}

.bar3{
    width: 90%;
}

.bar4{
    width: 85%;
}

#do{
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}

#do-left, #do-right{
    width: 50%;
}

#do-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#do-left h5{
    font-weight: 500;
}

#dos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative; 
}

#dos h2{
    font-size: 3rem;
    opacity: 1;
}

#dos h2 span{
    opacity: 0.5;
}

#dos h2:first-child,
#dos h2:last-child {
    filter: blur(1px); 
}

#do-right{
    padding: 3rem;
}

#dr-top{
    border-bottom: 1px solid white;
    margin-bottom: 2rem;
}

#dr-top img{
    width: 60%;
    margin-bottom: 2rem;
}

#dr-middle p{
    border-bottom: 1px solid white;
    padding: 1rem 0 1.5rem;
}

#dr-bottom{
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

#tags{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#tags h4{
    font-size: 0.9rem;
    padding: 0.4rem;
    border-radius: 1.5rem;
    border: 1px solid white;
}

#tags h4:hover{
    transform: scale(1.1);
    transition: all ease ease-out 0.3s;
    cursor: pointer;
    color: #f17458;
    border: 1px solid #f4795d;
}

#about{
    display: flex;
    gap: 2rem;
}

#about-left{
    width: 35%;
}

#about-right{
    width: 65%;
}

#about-left{
    padding: 1rem;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#al-heading h2{
    opacity: 0.7;
    font-size: 1.1rem;
    padding: 0.5rem;
    border: 1px solid white;
    display: inline-block;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

#about-left p{
    opacity: 0.7;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

#about-left img{
    padding: 0 1rem;
}

#about-right{
    text-align: center;
    margin: auto;
}

#ar-main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#ar-main h3{
    font-weight: 400;
    font-size: 1rem;
}

#ar-main h2{
    font-size: 4rem;
    width: 70%;
    margin: auto;
    line-height: 1.2;
}

#ar-main span{
    color:  #d85740;
}

#ar-main p{
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
}

#about-right button{
    padding: 0.9rem 3.2rem; 
    font-size: 1rem;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
}

#about-right button:hover{
    transform: scale(1.1);
    transition: all ease 0.4s;
    background-color: #FF4726;
    color: white;
}